kind: Pod
apiVersion: v1
metadata:
  annotations:
    scheduler.alpha.kubernetes.io/critical-pod: ""
  labels:
    component: keepalived
    tier: control-plane
  name: kube-keepalived
  namespace: kube-system
spec:
  hostNetwork: true
  priorityClassName: system-cluster-critical
  containers:
    - name: kube-keepalived
      image: docker.io/osixia/keepalived
      env:
        - name: KEEPALIVED_VIRTUAL_IPS
          value: {{ controlPlaneEndpoint }}
        - name: KEEPALIVED_INTERFACE
          value: eth0
        - name: KEEPALIVED_UNICAST_PEERS
          value: "#PYTHON2BASH:[
          {%- for item in controlPlaneIPs -%} 
            '{{item}}' 
            {%- if loop.last is false -%}
              , 
            {%- endif %}
          {%- endfor %}]"
        - name: KEEPALIVED_PASSWORD
          value: d0cker
        - name: KEEPALIVED_PRIORITY
          value: "100"
        - name: KEEPALIVED_ROUTER_ID
          value: "51"
      resources:
        requests:
          cpu: 100m
      securityContext:
        privileged: true
        capabilities:
          add:
            - NET_ADMIN
