apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: "v{{ k8s_version }}.0"
controlPlaneEndpoint: "{{controlPlaneEndpoint}}:
  {%- if isHAControlPlane -%} 
    8443
  {%- else -%}
    6443
  {%- endif %}"
networking:
  podSubnet: "{{ cni_cidr }}"